mixin link(path, text)
  a(
    class!=attributes.class,
    target!=attributes.target,
    href=path,
  )!= text
    block

mixin nav-item(path, text)
  li.nav-item
    +link(path, text)(
      class='nav-link',
      target!=attributes.target,
    )

mixin social-link(path, icon)
  +link(path, '')(
    target='_blank',
    class='social-link',
  )
    i.fa(class='fa-'+icon)

mixin section(id, heading)
  section.section(id=id)
    h2= heading
    block

mixin youtube(videoId)
  iframe.youtube(
    width="560",
    height="315",
    src="https://www.youtube.com/embed/"+videoId,
    frameborder="0",
    allowfullscreen,
  )

mixin spotify(uri, size)
  iframe.spotify(
    class='spotify-'+size,
    width='100%',
    src='https://embed.spotify.com/?theme=white&uri='+uri,
    frameborder="0",
    allowtransparency='true',
  )

mixin pullquote(url, source)
  blockquote
    p
      block
    footer
      cite
        +link(url, source)(target='_blank')

doctype html
html(lang='en')
  head
    title Humble Fire
    <meta name=viewport content="width=device-width, initial-scale=1">
    script(
      src="https://use.fontawesome.com/e6a1e90877.js",
    )
    script(
      src="https://code.jquery.com/jquery-3.2.1.min.js",
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.2.0/jquery.fitvids.min.js",
    )
    script(
      src="js/script.js",
    )
    link(
      type='text/css',
      rel='stylesheet',
      href='css/styles.css'
    )
  body
    .hero
    .container
      .row
        .nav.col-3
            h2
              a(href='/') Humble Fire
            ul.nav-list
              +nav-item('#music', 'Music')
              +nav-item('#bio', 'Bio')
              +nav-item('#shows', 'Shows')
              +nav-item('#press', 'Press')
              +nav-item('#video', 'Video')
              +nav-item('https://humblefire.bandcamp.com/merch', 'Merch')(target='_blank')
            .social-links
              +social-link('http://facebook.com/humblefireband', 'facebook')
              +social-link('http://twitter.com/humblefirerocks', 'twitter')
              +social-link('http://instagram.com/humblefire', 'instagram')
              +social-link('http://humblefire.tumblr.com', 'tumblr')
              +social-link('http://soundcloud.com/humblefire', 'soundcloud')
              +social-link('http://humblefire.bandcamp.com', 'bandcamp')
              +social-link('https://open.spotify.com/artist/2J0nfys688Y2Q8zXx6mevQ', 'spotify')
              +social-link('https://www.youtube.com/channel/UCVrSMd6doRpB5ZrZ1azqWmw', 'youtube')

        .content.col-9
          +section('music', 'Music')
            p
              +link('http://humblefire.bandcamp.com', 'Pre-order vinyl on Bandcamp.')(target='_blank')
            +spotify('spotify:album:6cHmRRrOlF2A9LqN1TDF7C', 'small')
            +spotify('spotify:album:2S82yJ2I4xcf01IRXl6FP6', 'small')
            +spotify('spotify:album:5vtiB62FWhVHTsvKQxe8kX', 'small')
            +spotify('spotify:album:4vhOqFzjJhH3ZYzkwVbrwT', 'large')

          +section('bio', 'Bio')
            p Humble Fire’s album “Builder” explores physical and emotional experiences around loss and reconstruction, from family deaths and failed romances to the shocks and stresses they have navigated as a band. Through those experiences, they’ve come to appreciate that reconstruction isn’t something you can tackle on your own: it requires an entire crew. “Builder,” then, is as much about that process of putting yourself back together, as it is about the relationships that can help or hinder that process. Since Humble Fire’s members have known each other over the past five or so years, they’ve all shown up for each other in different ways as part of that reconstruction crew. They’re lucky to have found family in each other in that way.
            p Somewhat accidentally, the album also ended up being about working out questions of identity. ‘Who am I now, in this world without my parents in it’, for example? ‘How can I take care of others without losing myself?’ When the band first listened back to the fully assembled album, they realized it had become a sort of therapy in working out some of those questions. More broadly, Humble Fire’s collective identity is also something they try to be very intentional about. As a DC-based band, they’re immersed in and identify with the tradition of DIY independence and social awareness typically associated with the politics of hardcore punk (despite not working in the genre). They strive to embody those values as a band as much as in their personal lives.
            p Humble Fire owes its origins to Craigslist, which first brought guitarist Dave and singer Nefra together through another project and later recruited Xaq, bassist, who responded to Dave’s ad with a purposeful manifesto that will forever go down in band history. While not the band’s original drummer, Jason had long been a friend and active musician in the DC DIY music circuit before signing on in 2016. In its current form, the band celebrates the diverse musical influences that each member draws from–from bluegrass and classical, to punk and hip hop–weaving addictive rhythms and vulnerable vocals through tightly wound guitar and bass melodies.

          +section('shows', 'Shows')
            include inc/songkick.html

          +section('press', 'Press')
            p
              +link('#', 'Click here for press kit!')
            +pullquote('http://www.npr.org/event/music/534947765/first-watch-humble-fire-builder', 'Bob Boilen, NPR')
              | The video for this song...is about the ties that bind and also the ties that confine.
            +pullquote('http://www.logicfuzzy.com/2017/07/video-of-day-303-humble-fire.html', 'Fuzzy Logic')
              | "Builder" could be considered the five-and-a-half minute equivalent of the most penetrating, burning smolder of a stare humanly possible.
            +pullquote('https://hometownsoundsdc.com/2017/05/08/humble-fire-taliesin/', 'Hometown Sounds')
              | Dream pop band Humble Fire really created something special with the video for their new single “Taliesin”.
            +pullquote('http://audiofuzz.com/see/architectural-music-humble-fire-taliesin/', 'AudioFuzz')
              | ...what Frank Lloyd Wright’s buildings would sound like if they could sing.
            +pullquote('', 'Hometown Sounds')
              | Dreamy pop band Humble Fire have simply been killing it...

          +section('video', 'Video')
            +youtube('D_f5h_qEhQM')
            +youtube('7LygOKxkMl4')
